
{% extends 'base.html' %}

{% block content %}
    <h1>Live weather API</h1>

    <p>Please fill in some coordinates:</p>
    <form action="" method="get">
        {% csrf_token %}
        {{ coordinate_form.as_p }}
        <input type="submit" value="Submit">
    </form>
      
    {% if message %}
        {{message}}
    {% else %}
        <p>
            Location: <strong>{{place}}</strong><br>
            {{ weatherdata.liveweer.0.time }}
        </p>
        <p>Max temp: <strong>{{max_temp}} C</strong> (last 24 hours)</p>
        <p>Amount of rain: <strong>{{rain}} mm</strong> (last 24 hours)</p>
    {% endif %}

 
{% endblock content %}