
{% extends 'base.html' %}
 
{% block title %}
    {{ title }}
{% endblock title %}


{% block content %}
    <h1>Live weather API</h1>
    <h1>{{ title }}</h1>

    <p>Please fill in some coordinates:</p>
    <form method="get">
        <label>Longitude:</label></labek><input type="float" name="longitude"><br>
        <label>Latitude:</label><input type="float" name="latitude"><br>
        <button type="submit">Search coordinates</button>
      </form>

    {% if weatherdata %}
        <p>
            Live weather in <strong>{{weatherdata.liveweer.0.plaats}}</strong> (long: {{longitude}}, lat: {{latitude}})<br>
            {{ weatherdata.liveweer.0.time }}
        </p>
        <p>Max temp: <strong>{{weatherdata.liveweer.0.temp_24}} C</strong> (last 24 hours)</p>
        <p>Amount of rain: <strong>{{weatherdata.liveweer.0.regen_24}} mm</strong> (last 24 hours)</p>
    {% endif %}
 
{% endblock content %}